<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OUS Collection | Shopping</title>

  <!-- Google Font - preconnect for faster loading -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet" media="print" onload="this.media='all'">

  <!-- Css Styles -->
  <!-- favicon removed per request -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
  <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <link rel="stylesheet" href="/css/bootstrap-social.css" type="text/css">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
  <!-- Page Preloder -->
  <style>
    #preloder {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: #ffffff;
      z-index: 999999;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .fabric-loader {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .spool {
      width: 30px;
      height: 50px;
      background: #8b5a2b;
      position: relative;
      border-radius: 4px;
    }
    .spool::before, .spool::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 8px;
      background: #d2a679;
      left: -10px;
      border-radius: 2px;
    }
    .spool::before { top: -4px; }
    .spool::after { bottom: -4px; }
    .thread {
      position: absolute;
      width: 100%;
      height: 36px;
      top: 7px;
      background: repeating-linear-gradient(
        0deg,
        rgb(39, 57, 82),
        rgb(39, 57, 82) 4px,
        rgb(97, 103, 147) 4px,
        rgb(97, 103, 147) 8px
      );
      animation: unwind 0.8s linear infinite;
    }
    @keyframes unwind {
      0% { background-position: 0 0; }
      100% { background-position: 0 8px; }
    }
    .loader-text {
      margin-top: 20px;
      font-family: 'Cairo', sans-serif;
      color: rgb(39, 57, 82);
      font-weight: 700;
      letter-spacing: 3px;
      animation: pulseText 1.5s ease-in-out infinite;
    }
    @keyframes pulseText {
      0%, 100% { opacity: 0.6; }
      50% { opacity: 1; }
    }
  </style>
  <div id="preloder">
    <div class="fabric-loader">
      <div class="spool">
        <div class="thread"></div>
      </div>
      <div class="loader-text">WEAVING...</div>
    </div>
  </div>
  <div id="waiter">
    <!-- <div class="waiting"></div> -->
  </div>


  <!-- Humberger Begin -->
  <div class="humberger__menu__overlay"></div>
  <div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
      <a href="/"><h2 style="color: white; margin: 0;">OUS Collection</h2></a>
    </div>
    <div class="humberger__menu__cart">
      <ul>
        <li><a href="/user/cart"><i class="fa fa-shopping-bag"></i><span class="cart-item-count">0</span></a></li>
      </ul>
    </div>
    <div class="humberger__menu__widget">
      <div class="header__top__right__language">
        <img src="/img/language.png" alt="">
        <div>English</div>
        <span class="arrow_carrot-down"></span>
        <ul>
          <li><a href="#!">English</a></li>
        </ul>
      </div>
      <div class="header__top__right__auth">
        <% if(locals.user){ %>
        <form action="/logout?_method=DELETE" method="post" id="logoutForm">
          <a onclick="document.getElementById('logoutForm').submit();"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
        </form>
        <% } else {%>
        <% } %>
      </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/shop/1">Shop</a></li>
        <li><a href="/shop/category/mens/1">Mens</a></li>
        <li><a href="/shop/category/womens/1">Womens</a></li>
        <li><a href="/shop/sets/1">Set Products</a></li>
        <li><a href="#">More</a>
          <ul class="header__menu__dropdown">
            <li><a href="/user/profile">Account</a></li>
            <li><a href="/user/cart">Shopping Cart</a></li>
            <li><a href="/user/myOrders">My Orders</a></li>
          </ul>
        </li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <!-- <div class="header__top__right__social">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-pinterest-p"></i></a>
    </div> -->
    <div class="humberger__menu__contact">
      <ul>
        <li><i class="fa fa-envelope"></i> info@ouscollection.com</li>
      </ul>
    </div>
  </div>
  <!-- Humberger End -->

  <!-- Header Section Begin -->
  <header class="header">
    <div class="header__top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="header__top__left">
              <ul>
                <li><i class="fa fa-envelope"></i> info@ouscollection.com</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="header__top__right">
              <!-- <div class="header__top__right__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
              </div> -->
              <div class="header__top__right__language">
                <img src="https://flagcdn.com/w20/pk.png" alt="Pakistan Flag">
                <div>Urdu</div>
              </div>
              <div class="header__top__right__auth">
                <% if(locals.user){ %>
                <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                  <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Hi <%=locals.userName %> <i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/user/profile">Account</a></li>
                      <li><a class="dropdown-item" href="/user/myOrders">My orders</a></li>
                      <li>
                        <a href="#" class="dropdown-item" onclick="document.getElementById('logoutForm').submit();"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
                      </li>
                    </ul>
                  </li>
                </ul>

                <% } else {%>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="header__logo">
            <a href="/"><h2 style="margin: 0; color: #333;">OUS Collection</h2></a>
          </div>
        </div>
        <div class="col-lg-7">
          <nav class="header__menu">
            <ul class="nav">
              <li><a class="nav-item" href="/">Home</a></li>
              <li><a class="nav-item" href="/shop/1">Shop</a></li>
              <li><a class="nav-item" href="/shop/category/mens/1">Mens</a></li>
              <li><a class="nav-item" href="/shop/category/womens/1">Womens</a></li>
              <li><a class="nav-item" href="/contact">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-2">
          <div class="header__cart">
            <ul>
              <li><a href="/user/cart"><i class="fa fa-shopping-bag"></i><span class="cart-item-count">0</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="humberger__open">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </header>
  <!-- Header Section End -->
  <%- body %>


  <!-- Footer Section Begin -->
  <footer class="footer spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer__about">
                <div class="footer__about__logo">
                  <a href="/"><h3 style="margin:0;">OUS Collection</h3></a>
                </div>
                <ul>
                  <li>Address: 99VG+M58, New Cloth Market Rd, Shahi Bazar, Hyderabad, Pakistan</li>
                  <li>Email: ouscollection12@gmail.com</li>
                </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
          <div class="footer__widget">
            <h6>Useful Links</h6>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">About Our Shop</a></li>
              <li><a href="#">Secure Shopping</a></li>
              <li><a href="#">Delivery information</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Our Sitemap</a></li>
            </ul>
            <ul>
              <li><a href="#">Who We Are</a></li>
              <li><a href="#">Our Services</a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Innovation</a></li>
              <li><a href="#">Testimonials</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="footer__widget">
            <h6>Join Our Newsletter Now</h6>
            <p>Get E-mail updates about our latest shop and special offers.</p>
            <form action="#">
              <input type="text" placeholder="Enter your mail">
              <button type="submit" class="site-btn">Subscribe</button>
            </form>
            <div class="footer__widget__social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="footer__copyright">
            <div class="footer__copyright__text">
              <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script> All rights reserved |
                This Website is made with <i class="fa fa-heart" aria-hidden="true"></i> by Mubarak CH</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
            <div class="footer__copyright__payment"><img src="/img/payment-item.png" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer Section End -->
  <!-- Js Plugins -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="/js/bootstrap.min.js" defer></script>
  <script src="/js/jquery.nice-select.min.js" defer></script>
  <script src="/js/jquery-ui.min.js" defer></script>
  <script src="/js/jquery.slicknav.js" defer></script>
  <script src="/js/mixitup.min.js" defer></script>
  <script src="/js/owl.carousel.min.js" defer></script>
  <script src="/js/main.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" defer crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
  <script src="/js/cart.js" defer></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" defer></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" defer></script>
  <script src="/js/searchAutoFill.js" defer></script>
  <script src="https://kit.fontawesome.com/e915e405f3.js" crossorigin="anonymous" defer></script>
  <script src="https://js.pusher.com/8.0/pusher.min.js"></script>
  <script>
    const pusher = new Pusher('f869c5f1434c09e3d729', { cluster: 'ap2' });
    const channel = pusher.subscribe('ecommerce-channel');
    channel.bind('site_updated', async () => {
      try {
        const response = await fetch(window.location.href);
        const html = await response.text();
        const parser = new DOMParser();
        const newDoc = parser.parseFromString(html, 'text/html');
        
        // Safe containers that can be updated without breaking slider plugins
        const safeContainers = [
          '#allProductsContainer',
          '#setsProductsContainer',
          '.featured__filter',
          '#product-grid-container'
        ];
        
        let updated = false;
        safeContainers.forEach(selector => {
          const oldEl = document.querySelector(selector);
          const newEl = newDoc.querySelector(selector);
          if (oldEl && newEl) {
            oldEl.innerHTML = newEl.innerHTML;
            
            // Re-apply background images for new lazy-loaded elements
            const setBgs = oldEl.querySelectorAll('.set-bg');
            setBgs.forEach(el => {
              const bg = el.getAttribute('data-setbg');
              if (bg) el.style.backgroundImage = 'url(' + bg + ')';
            });
            
            updated = true;
          }
        });
        
        // Re-initialize MixItUp if the filter container was updated
        if (updated && document.querySelector('.featured__filter') && typeof mixitup !== 'undefined') {
          // mixitup handles re-instantiation internally if we call it again on the same container
          mixitup('.featured__filter');
        }
        
        if (updated && typeof toastr !== 'undefined') {
          toastr.success('Website content updated live!');
        }
      } catch (err) {
        console.error('Live update failed:', err);
      }
    });
  </script>


  <script>
    const currentLocation = (location.href).toLowerCase()
    const navItem = document.querySelectorAll(".nav-item")
    const length = navItem.length
    for (let i = 0; i < length; i++) {
      if (navItem[i].href === currentLocation) {
        navItem[i].closest("li").className = "active"
      }
    }
  </script>

  <%- script %>
</body>

</html>